:root {
  --hover-color: #cda274;
  --text-color: #292f36;
  --description-color: #4d5053;
  --main-color: #fff;
  --statistik-bg: #f4f0ec;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}
body {
  font-family: "Jost", sans-serif;
}
.header {
  padding: 20px 0;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img {
  width: 177px;
  height: 50px;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  color: var(--text-color);
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: 0.4px;
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.hero{
  padding-top: 188px;
  padding-bottom: 260px;
  background-image: url(../images/herobg.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title{
color: var(--text-color);
font-family: "DM Serif Display";
font-size: 80px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.22px;
margin-bottom: 19px;
width: 595px;
}

.hero-text{
width: 577px;
margin-bottom: 35px;
color: var(--description-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.hero-button{
color: var(--main-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.72px;
padding-left: 34px;
padding-right: 67px;
padding-top: 22px;
padding-bottom: 22px;
background-color: var(--text-color);
border-radius: 16px;
}

.adventages{
  padding-top: 100px;
  padding-bottom: 100px;
}

.adventages-list{
  display: flex;
  justify-content: space-between;
}

.adventages-item{
  padding-top: 75px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adventages-title{
color: var(--text-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.56;
letter-spacing: 0.22px;
margin-bottom: 17px;
}

.adventages-text{
margin-bottom: 68px;
color: var(--description-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
width: 317px;
}

.adventages-item:nth-child(2){
  padding-bottom: 103px;
  .adventages-text{
    width: 297px;
    margin-bottom: 35px;
  }
}

.adventages-item:nth-child(3){
  padding-bottom: 70px;
  .adventages-text{
    width: 296px;
    margin-bottom: 35px;
  }
}

.adventages-link{
color: #4D5053;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.36px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
}
.background-footer {
  padding-top: 50px;
  padding-bottom: 80px;
}
.background-logo {
  width: 177px;
  height: 50px;
}
.background-letter {
  color: var(--description-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  width: 326px;
}
.background-roster {
  display: flex;
  gap: 40px;
  margin-top: 19.2px;
}
.background-elem:nth-child(1) {
  width: 10px;
  height: 19px;
}
.background-elem:nth-child(2) {
  width: 18px;
  height: 15px;
}
.background-elem:nth-child(3) {
  width: 16px;
  height: 17px;
}
.background-elem:nth-child(4) {
  width: 17px;
  height: 18px;
}
.background-pages{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.background-explore{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.background-contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.pages-link {
  color: var(--description-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.explore-link {
  color: var(--description-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.contact-link {
  color: var(--description-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  width: 321px;
  display: inline-block;
}
.background-box {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 36px;
}
.background-item:nth-child(1) {
  color: var(--description-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: inline-block;
}
.background-item:nth-child(3) {
  color: var(--description-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: inline-block;
}
.background-item:nth-child(2) {
  color: var(--hover-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: inline-block;
}
.background-item:nth-child(4) {
  color: var(--hover-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: inline-block;
}
